{% extends '::base.html.twig' %}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block breadcrumbs %}
    <a href="{{ path('homepage') }}">Главная</a> /
    <a href="{{ path('article_list') }}">Статьи</a> /
    {{ article.title }}
{% endblock breadcrumbs %}
{% block body %}
    <div class="container">
        <h1>
            {{ block('title') }}
        </h1>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ article.text|raw() }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Тэги:
                {% for tag in article.tags %}
                    {{ tag.name }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
