{% extends 'PeriscopeBundle::base.html.twig' %}
{% block body %}
    <h1>Список тестов</h1>
    <div class="panel-group" id="accordion">
        {% for testsuite in periscope.xpath("//testsuite/testsuite") %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ loop.index }}">
                            Файл #{{ loop.index }} - {{ testsuite.attributes.name }}
                        </a>
                    </h4>
                </div>
                <div id="{{ loop.index }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% for testcase in testsuite.children %}
                            <h3>{{ testcase.attributes.name }}</h3>
                            {% if testcase.count %}
                                {% for child in testcase.children %}
                                    <p>{{ child.getName == 'error' ? 'Ошибка: '}}</p>
                                    <p>{{ child.getName == 'failure' ? 'Несоответствие: '}}</p>
                                    {{ child|nl2br }}
                                {% endfor %}
                            {% else %}
                                Несоответствий и ошибок нет
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}